* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    /* nécessaire de préciser une width si position:fixed */
    width: 100%;
    background-color: gray;
    display: flex;
    /* positionner les div enfants */
    /* centrer verticalerment */
    align-items: center;
    padding: 3rem;
    /* modification de cette valeur en javascript */
    opacity: 1;
    transition: 0.5s;
}

.cookies-btn{
    display: flex;
}

.btn{
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.btn.btn-success{
    background-color: #1E2337;
}

.btn.btn-deny{
    background-color: gray;
}